<div growl></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 col-md-1">
      <div class="form-group">
        <button ng-click="connect()">Connect</button>
      </div>
    </div>
    <div class="col-sm-2 col-md-2">
      <div class="form-group">
        <button ng-click="disconnect()">Disconnect</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Top Ten List</div>
        <div class="panel-body">
          <div class="table-container">
            <div ag-grid="gridOptions" class="ag-fresh" style="height: 100%; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">Top Ten Matrix</div>
        <div class="panel-body">
          <div adjacency-matrix
            data="matrixJson"
            width="480"
            height="480"
            json-path=""
            color-range="#0d47a1,#e3f2fd">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

