<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2">
      <div class="form-group">
        <h5>イベント受信</h5>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="connect()">{{'Connect' | translate}}</button>
          <button type="button" class="btn btn-default" ng-click="disconnect()">{{'Disconnect' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading">東京２３区　リアルタイム・タクシー降車イベント</div>
        <div class="panel-body">
          <div 2layer-events-map
            id="01"
            topojson-path="assets/tokyo_23_blocks_districts_final.json"
            width="800"
            height="800"
            layer1-color-range="#e3f2fd,#2196f3,#0d47a1"
            center="139.752268, 35.657043"
            scale="115000"
            layer1-objects="districts"
            layer2-objects="blocks"
            layer1-feature-name="properties.district"
            layer1-feature-code="properties.district_code"
            layer2-feature-name="properties.block"
            layer2-feature-code="properties.block_code"
            layer1-event-data="districtRank"
            layer2-event-data="taxiEvents"
            layer1-event-count-tag="dropoffCount"
            layer1-legend-title="３０分以内の降車イベント"
            on-receive-events="subTaxiEventsFrom(feature)"
            on-stop-events="unsubTaxiEvents()"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div growl></div>
</div>

