<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="form-group">
        <h5>イベント受信</h5>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="connect()">{{'Connect' | translate}}</button>
          <button type="button" class="btn btn-default" ng-click="disconnect()">{{'Disconnect' | translate}}</button>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">東京２３区　町域レベル　トップ１０ルート（乗車ー＞降車）リスト</div>
        <div class="panel-body">
          <div class="table-container">
            <div ag-grid="gridOptions" class="ag-fresh" style="height: 100%; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">東京２３区　町域レベル　トップ１０ルート（乗車ー＞降車）マップ</div>
        <div class="panel-body">
          <div route-events-map
            id="02"
            layer-event-data="model.rowCollection"
            topojson-path="assets/tokyo_23_blocks_districts_final.json"
            width="800"
            height="800"
            bg-color="#bbdefb"
            color-range="#227AFF,#FFF500"
            top-number="10"
            center="139.743268, 35.677043"
            scale="125000"
            layer-objects="blocks"
            layer-feature-name="properties.block"
            layer-feature-code="properties.block_code"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div growl></div>
</div>

